/* Mobile */
a, .nav-link{
    text-decoration: none;
    color: #fff;
}

.nav-link:focus{
    pointer-events: none;
    background-color: rgb(231, 177, 52) !important;
    color:#fff;
}

section a {
    color: #000;
}

.bi-person-circle{
    color:#000;
}

a:hover{
    color: rgb(231, 177, 52) !important;
}

body header img {
    width: 25%;
}

body>footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

section h2 {
    position: relative;
    top: 10%;
}

aside a {
    color: #000;
}
/* Desktop */
@media screen and (min-width: 768px) {
    #logoMobile, .dividerClass, #bell{
        display: none;
    }
    #logoDesktop{
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    #logoDesktop{
        display: none;
    }
    aside{
        display: none;
    }
}