a{
    text-decoration: none;
    color: #fff;
}

section a {
    color: #000;
}

.bi-person-circle{
    color:#000;
}

nav ul{
    list-style: none;
}

nav li{
    list-style: none;
}

nav>ul>li.menuButtonSelected{
    display: inline-block;
    width: 100px;
    padding: 10px;  
    text-align: center;
    background-color: rgb(231, 177, 52); 
    border-radius: 5px;
}

nav>ul>li{
    display: inline-block;
    width: 100px;
    padding: 10px;  
    text-align: center;
    background-color: dark; 
    border-radius: 5px;
}

nav>ul>li.menuButton:hover{
    display: inline-block;
    width: 100px;
    padding: 10px;  
    text-align: center;
    background-color: rgb(231, 177, 52); 
    border-radius: 5px;
}

.friends{
    width: 100%;
    text-align: left;
}

.friends:hover{
    background-color: rgb(227, 227, 227);
}

ul{
  margin:0;
  padding: 0;
}


a:hover{
    color: inherit;
}

#logoDesktop:hover, #logoMobile:hover, #bell:hover, #icon:hover, #icon:hover, #addPost:hover{
    color: rgb(231, 177, 52);
}

body header img {
    width: 25%;
}

body>footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

section h1, h2 {
    position: relative;
    top: 10%;
}

aside a {
    color: #000;
}

@media screen and (min-width: 768px) {
    #logoMobile, .dividerClass, #bell{
        display: none;
    }
    #logoDesktop{
        width: 600px;
    }
    #userName{
        color: rgb(231, 177, 52) !important;
    }
    .addIcon{
        display: none;
    }
    #addButtonDesktop {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    #logoDesktop{
        display: none;
    }
    #userName{
        display: none;
    }
    aside{
        display: none;
    }
    #sharePost{
        display: none;
    }
    #addButtonDesktop{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    h1, h2 {
        font-size: 2.5vw;
    }
}