a{
    text-decoration: none;
    color: #fff;
}

section a {
    color: #000;
}

.bi-person-circle{
    color:#000;
}

nav ul{
    list-style: none;
}

nav li{
    list-style: none;
}

.friends{
    width: 100%;
    text-align: left;
}

.friends:hover{
    background-color: rgb(227, 227, 227);
}

ul{
  margin:0;
  padding: 0;
}

a:hover{
    color: inherit;
}

#logoDesktop:hover, #logoMobile:hover, #bell:hover, #profileIcon:hover, #profileIcon:hover, #addPost:hover{
    color: rgb(231, 177, 52);
}

body header img {
    width: 25%;
}

body>header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

body>footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
}

#addButtonDesktop {
    margin: 0% 3%;
}

.menu{
    width: 100%;
}

h2 {
    display: inline-block;
    text-align: left;
    font-size: 120%;
    margin: 0;
}

#userIcon {
    margin-right: 0.5em;
}

#tema {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside a {
    color: #000;
}

aside>a {
    padding-left: 3%;
}

.topic{
    text-align: right;
}

#calendar{
    align-items: center;
}


@media screen and (min-width: 768px) {
    #logoMobile, .dividerClass, #bell{
        display: none;
    }
    #logoDesktop{
        width: 600px;
    }
    #userName{
        color: rgb(231, 177, 52) !important;
    }
    .addIcon{
        display: none;
    }
    #addButtonDesktop {
        display: inline-block;
        width: 100%;
    }
    nav>ul>a>li.menuButtonSelected, nav>ul>a>li.menuButton:hover{
        background-color: rgb(231, 177, 52);
        color: #fff;
    }
    nav>ul>a>li{
        display: inline-block;
        width: 100px;
        padding: 10px;  
        text-align: center;
        background-color: dark; 
        border-radius: 5px;
    }
}

@media screen and (max-width: 768px) {
    #logoDesktop{
        display: none;
    }
    #userName{
        display: none;
    }
    aside{
        display: none;
    }
    #sharePost{
        display: none;
    }
    #addButtonDesktop{
        display: none;
    }
    nav>ul>a>li.menuButtonSelected, nav>ul>a>li.menuButton:hover{
        background-color: rgb(231, 177, 52);
        color: #fff;
    }
    nav>ul>a>li{
        display: inline-block;
        padding: 5px;  
        text-align: center;
        background-color: dark; 
        border-radius: 5px;
    }
    #link{
        text-align: center;
    }

}
